---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import planetMusic from "@/assets/imgs/planetMusic.png";
import ia from "@/assets/imgs/ia.gif";
import carritoCompra from "@/assets/imgs/carrito-compra.gif";
import co from "@/assets/imgs/co.gif";
import cabezaVolteada from "@/assets/imgs/cabeza-violeta.png";
import live from "@/assets/imgs/live.png";
import comegalleta from "@/assets/imgs/comegalleta.gif";
import alien2 from "@/assets/imgs/alien2.gif";
import ayuda from "@/assets/imgs/ayuda.gif";
import misionEliptica from "@/assets/imgs/mision-eliptica.png";
import sonidoHq from "@/assets/imgs/sonido-hq.jpg";
---

<Layout title="Home">
  <section class="grid grid-cols-3 p-2 border-b-2 border-red-700">
    <div class="flex p-2 justify-start">
      <Image src={planetMusic} alt="alien" width="60" height="50" />
    </div>

    <div class="flex p-2 justify-center">
      <Image src={ia} alt="alien" width="60" height="50" />
    </div>
    <div class="flex p-2 justify-end">
      <Image
        class="m-1"
        src={carritoCompra}
        alt="alien"
        width="60"
        height="50"
      />
      <Image src={co} alt="alien" width="60" height="50" />
    </div>
  </section>

  <section class="grid grid-rows-1 grid-cols-6 grid-flow-row-dense">
    <div class="col-span-1 flex items-center flex-col justify-between">
      <div>
        <Image src={live} alt="live" width="120" height="50" />
      </div>
      <div>
        <Image class="w-20" src={comegalleta} alt="" width="120" height="50" />
      </div>
      <div>
        <Image
          src={misionEliptica}
          alt="mision eliptica"
          width="120"
          height="50"
        />
        <p class="text-white text-xs">The best sessions of the 2000's</p>
      </div>
      <div>
        <Image src={sonidoHq} alt="" width="180" height="50" />
      </div>
    </div>

    <div class="col-span-4 flex justify-center items-center">
      <Image src={cabezaVolteada} alt="Imagen grande" />
    </div>

    <div class="col-span-1 flex items-center flex-col justify-between">
      <div>
        <img src={`${alien2}`} alt="alien2" width="180" height="50" />
      </div>
      <div>
        <p class="text-white text-xs">
          No se realizaran pautas con criptomoneda
        </p>
      </div>
      <div class="">
        <Image src={ayuda} alt="ayuda" width="60" height="50" />
      </div>
    </div>
  </section>
  <section class="m-3">
    <article>
      <p class="text-red-700 text-center">
        Heavy Metal, Bachata, Merengue, Vallenato, Ranchera, Salsa, Cumbia,
        Dembow, Baladas, Kpop, Música Popular, Trap, Banda, Champeta, Pop, Rock,
        Hip Hop, Reggaetón, Electrónica, R&B, Música Clásica, Country, BSOs,
        Reggae, Carranga, Mariachi, Tecno Carrilera, Salsa Choke, Tango, Bolero,
        Música de Planchar, Disco, Funk..
      </p>
    </article>
  </section>
  <section class="grid grid-rows-1 grid-cols-3 grid-flow-row-dense">
    <div></div>
  </section>
</Layout>
